.recipeCard {
 text-align: center;
 padding: 15px;
  margin: 1px;
}


a {
    text-decoration: none;
  }

  .card-title {
    font-size: 19px;
  }
  
 

 .recipeTitle{
   color: orange;
  
   display:inline-block;
   white-space: pre-wrap;
   width: 150px;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
  }
  
  div.card-header {
    height: 50%;
    color: black;
    
    text-align: center;
  }

