.recipeCard {
 text-align: center;
 padding: 15px;
  margin: 1px;
}


a {
    text-decoration: none;
  }

  .card-title {
    font-size: 19px;
  }
  
  .card-summary {
    font-size: 18px;
  }

 .recipeTitle{
   color: orange;
 }
  .card-header {
    height: 30%;
    color: black;
    background: rgb(88, 26, 26);
    text-align: center;
  }