* {
    box-sizing: border-box;
  }
  
  #recipeSearchResultContainer {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.single-recipe {
    margin: 1px;
    padding: 5px;
    border: 1px solid #2B2D42;
    border-radius: 5px;
    background-image: url('./recipecard2.jpg');
    justify-content: space-evenly;
}

#recipeSearchResultContainer .single-recipe {
    padding: 3px;
    display: flex;
    border: 1px #2B2D42;  
   
}

div.single-recipe {
    margin: 30px;
    justify-self: center;
    height: 250px;
    width: 320px;
    box-shadow: 3px 3px 5px 6px #ccc;
}
.searchPageHero {
    background-image: url(./searchRecipe.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    object-fit: cover;
}

.searchHeading {
    font-family: 'Amaranth', sans-serif;;
    color: white;
    text-shadow:
    4px 4px 0 black,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
 
      
}

.recipeNameSearch, .ingredientsSearch {
    font-size: 30px;
    color: black;
}

input, select {
    width: 15%;
    height: 30px;
    font-size: 20px;
}